body {
    background-color: #120037;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 40px;
    position: relative;
  }
  
  .logo_img{
    width: 250px;
    height: 150px;
    
  }
  
  .backpage {
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 40px;
  }
  
  .backpageimg {
    width: 50px;
    height: 50px;
  }
  
  
  
  
  
  /* ----------- Menu lateral --------------*/
  
  
  
  
  .cont_menu_lateral {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  
  .cont_menu_lateral_bot {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 1000px;
    border: none;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .cont_menu_lateral_botimg {
    width: 25px;
    height: 25px;
  }
  
  .cont_menu_lateral_perfil {
    background-color: white;
    border-radius: 1000px;
    width: 60px;
    height: 60px;
    margin-bottom: 40px;
  }
  
  
  
  
  
  
  /*----------- Feed ------------- */
  
  
  
  
  .cont {
    display: flex;
    flex-direction: row;
    justify-items: center;
  }
  
  .cont_feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  
  .cont_feed_publi {
    width: 1000px;
    height: 100%;
  }
  
  .cont_feed_publi_dados {
    background-color: #4a475d;
    width: 1000px;
    height: 80px;
    align-self: center;
    border-radius: 10px 10px 0px 0px;
  }
  
  .cont_feed_publi_text {
    background-color: white;
    width: 1000px;
    height: 100px;
    border-radius: 0px 0px 10px 10px;
  }
  
  .space_cont_bar {
    height: 200px;
  }
  
  
  
  
  
  
  /*-------Barra de pesquisa -------*/
  
  
  
  
  
  .cont_feed_barra {
    width: 1000px;
    height: 35px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 35px;
  }
  
  .cont_feed_barraimg {
    width: 22px;
    height: 22px;
    margin-left: 15px;
    margin-top: 6px;
  }
  
  .cont_feed_barrain {
    border: none;
    background: none;
    width: 900px;
    height: 30px;
    text-align: center;
    outline: none;
  }